<p style="color: green"><%= notice %></p>

<h1>Dashboard</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Toy</th>
      <th>Inventory</th>
      <th>Total Worth</th>
      <th>Sold</th>
      <th scope='col'style="width: 20%;">Ratings</th>
    </tr>
  </thead>
  <tbody>
    <% @toys_inventory.each do |toy| %>
      <tr>
        <td><%= toy.name %></td>
        <td><%= toy.inventory.quantity %></td>
        <td>$<%= toy.total_worth %></td>
        <td> <% total_sold = toy.sales.sum(:quantity_sold) %>
             <%= total_sold %>
        <td> <% average_rating = toy.ratings.average(:score) %>
          <% 5.times do |i| %>
            <%= i < (average_rating || 0) ? '★' : '☆' %>
            <% end %>
            <%= "(#{average_rating ? '%.2f' % average_rating : 'No ratings'})" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New sale", new_sale_path, class: 'btn btn-success btn-sm' %>

<%# <%= line_chart @sales_over_time, xtitle: "Time", ytitle: "Units Sold" %>