
<%= simple_form_for(@rating) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :toy %>
    <%= f.label :score %>
    <%= f.select :score, options_for_select(1..5), {}, { class: 'form-select' } %>
    <%= f.input :review %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
