<p style="color: green"><%= notice %></p>

<h1>Ratings</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Toy</th>
      <th scope="col">Score</th>
      <th scope="col">Review</th>
    </tr>
  </thead>
  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.toy.name %></td>
        <td>
          <% 1.upto(5) do |i| %>
            <%= i <= rating.score ? '★' : '☆' %>
          <% end %>
        </td>
        <td><%= rating.review %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New rating", new_rating_path, class: 'btn btn-success btn-sm' %>
