<div id="<%= dom_id supplier %>">
  <p>
    <strong>Name:</strong>
    <%= supplier.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= supplier.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= supplier.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= supplier.address %>
  </p>

</div>
